<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head th:fragment="page-header">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" >
    <title>Bookstore</title>
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse">
                <a class="navbar-brand" th:href="@{/home}">Home</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/book_action/show_add_book}">Add book</a> </li>
                    <li class="nav-item"><a class="nav-link">Your cart</a> </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/book_action/search}" method="post">
                    <input class="form-control mr-sm-2" type="text" name="action" aria-label="Search"
                           th:name="search" th:value="search">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search"/>
                </form>
            </div>
        </nav>
    </div>
</body>
</html>